
<app-header
  [pageTitle]="'Appointment Details'"
>
</app-header>

<ion-content [fullscreen]="true" >
	<ng-container *ngIf="loadingService.loading$ | async" class="ion-margin-top">
		<ion-progress-bar type="indeterminate"></ion-progress-bar>
	</ng-container>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="circles"></ion-refresher-content>
	  </ion-refresher>
	<div class="inner-content ion-padding">
		  <ion-card  *ngIf="user">
			<ion-card-header>
				<ion-card-title><h3>Hello, {{user?.FirstName}} {{user?.LastName}}</h3></ion-card-title>
			</ion-card-header>

			<ion-card-content>
				<p>Please see your appointment details below. Tap the box to process your appointment.</p>
			</ion-card-content>

		  </ion-card>
		  <ion-card 
		  	*ngFor="let item of appointmentDetail | filterSpecialization: specailizations"
			(click)="item.status !== 'Completed' && payAppointment(item.BillingID)"
		>
			<ion-card-header>
				<ion-card-title color="primary" class="card-title">
					<strong>Appointment ID: {{item.AppointmentID}}</strong>
					<ion-badge color="{{ item.status === 'Upcoming' ? 'danger'  : 'success'}}">{{ item.status }}</ion-badge>
				</ion-card-title>
			  </ion-card-header>
			  <ion-card-content class="no-l-padding">
				<ion-item>
					<ion-text><strong>Doctor: </strong>{{item.DoctorName}}</ion-text>
				</ion-item>
				<ion-item>
					<ion-text><strong>Specialization: </strong>{{item.Specialization }}</ion-text>
				</ion-item>
				<ion-item>
					<ion-text><strong>Appointment date and time: </strong>{{item.AppointmentDate | date: "MMMM d, y h:mm a": 'UTC'}}</ion-text>
				</ion-item>
			  </ion-card-content>
		  </ion-card>
	</div>
  
  <app-tab class="tabs"></app-tab>
</ion-content>
