<app-header
  [pageTitle]="'Appointment Details'"
>
</app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text  *ngIf="user">
	<h3>Hello, {{user?.FirstName}} {{user?.LastName}}</h3>
	<p>Please see your appointment details below.</p>
  </ion-text>
  <ion-grid>
	<ion-row  *ngIf="appointmentDetail">
		<ion-col size="3">Appointment ID</ion-col>
		<ion-col size="3">Appointment Doctor</ion-col>
		<ion-col size="3">Specialization</ion-col>
		<ion-col size="3">Appointment Date</ion-col>
	</ion-row>
	<ion-row *ngFor="let item of appointmentDetail">
		<ion-col size="3">{{item.AppointmentID}}</ion-col>
		<ion-col size="3">{{item.DoctorID}}</ion-col>
		<ion-col size="3">{{item.SpecializationID}}</ion-col>
		<ion-col size="3">{{item.AppointmentDate | date: "MMMM dd, yyyy"}}</ion-col>
	  </ion-row>
  </ion-grid>
</ion-content>
