
<ion-header [translucent]="true">
	<ng-container *ngIf="loadingService.loading$ | async">
		<ion-progress-bar type="indeterminate"></ion-progress-bar>
	</ng-container>
	<ion-toolbar>
	  <ion-title>Login</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding-top">
	
	<div class="inner-content ion-padding">
		<div class="center-content">
			<form [formGroup]="loginForm">
				<ion-item>
					<ion-input 
						label="Username" 
						label-placement="floating" 
						placeholder="Username"
						formControlName="username"
					></ion-input>
					<ion-text color="danger" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
						<small *ngIf="loginForm.get('username')?.hasError('required')">Username is required</small>
					</ion-text>
				</ion-item>
				<ion-item class="ion-margin-bottom" lines="none">
					<ion-input 
						type="password" 
						label="Password"
						label-placement="floating" 
						formControlName="password"
						>
					</ion-input>
					<ion-text color="danger" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
						<small *ngIf="loginForm.get('password')?.hasError('required')">Password is required</small>
					</ion-text>
				</ion-item>
				<ion-button 
					color="success"
					expand="block"
					(click)="onLogin()" [disabled]="!loginForm.valid || loading"
				>Login</ion-button>
				<ion-button 
					expand="block"
					(click)="onRegister()"
				>Register</ion-button>
			</form>
		</div>
	</div>	
</ion-content>

<app-footer></app-footer>