.login {
    display: flex;
    justify-content: center;
    margin: 6.25rem 0rem;

    mat-card {
        padding: 1.875rem;

        @media (min-width: 48rem) {
            width: 37.5rem
        }

        mat-card-title {
            margin-bottom: 1rem;
        }
        mat-card-content {
            padding: 0;
        }
        mat-form-field {
            width: 100%;
        }
    }
}