<ng-container *ngIf="loadingService.loading$ | async" class="ion-margin-top">
	<ion-progress-bar type="indeterminate"></ion-progress-bar>
</ng-container>
<app-header
	[pageTitle]="'Patient'"
></app-header>

<ion-content class="ion-padding">
	<ng-container *ngIf="userProfile">
		
		<ion-card class="ion-padding">
			<ion-avatar 
					[style.width]="size" 
					[style.height]="size">
					{{userProfile.FirstName | initials: userProfile.LastName}}
				</ion-avatar>
			<ion-card-header>
			  <ion-card-title>{{userProfile?.FirstName | titlecase }}  {{userProfile?.LastName | titlecase }}</ion-card-title>
			  <ion-card-subtitle>
				<ion-icon name="location-outline"></ion-icon>  {{userProfile?.Address}}
			  </ion-card-subtitle>
			  <ion-card-subtitle>
				<ion-icon name="call-outline"></ion-icon>  {{userProfile?.ContactInfo}}
			  </ion-card-subtitle>
			  <ion-card-subtitle>
				<ion-icon name="male-female-outline"></ion-icon> {{userProfile?.Gender | titlecase }}
			  </ion-card-subtitle>
			  <ion-card-subtitle>
				<ion-icon name="calendar-outline"></ion-icon>  {{userProfile?.BirthDate | date: 'MMMM d, y'}}
			  </ion-card-subtitle>
			  <ion-card-subtitle>
				<ion-icon name="medkit-outline"></ion-icon>  {{userProfile?.InsuranceCoverage | titlecase }}
			  </ion-card-subtitle>
			</ion-card-header>
		  </ion-card>
	</ng-container>
	<ng-container *ngIf="!userProfile && !loading" >
		<div class="inner-content">
			<p class="ion-text-center">Please update your profile first.</p>
			<ion-button fill="solid"  expand="block" [routerLink]="['/patient/patient-profile']" color="success">Update Profile</ion-button>
		</div>
	</ng-container>
	<app-tab class="tabs"></app-tab>
</ion-content>
