.text-center {
    text-align: center;
}
.bordered-row {
    border: 1px solid #fff;
}
ion-list {
    background: transparent;
}
.unpaid ion-text,
.paid ion-text {
    color: #000;
}
ion-badge {
    margin-left: 0.625rem;
    padding: .3125rem;
}

.ion-margin-top11 {
    margin-top: 20px;
}

.btn-wrapper {
    padding-left: .8125rem;
}
ion-button {
    width: 100%;
}
.white {
    color: #fff !important;
}