
<app-header
  [pageTitle]="'Bills'"
></app-header>

<ion-content [fullscreen]="true">
	<ng-container *ngIf="loadingService.loading$ | async" class="ion-margin-top">
		<ion-progress-bar type="indeterminate"></ion-progress-bar>
	</ng-container>
	<div class="inner-content ion-padding">
		<ion-card *ngIf="user">
			<ion-card-header>
				<ion-card-title>Hello , {{user?.FirstName}} {{user?.LastName}}</ion-card-title>
			  </ion-card-header>
			  <ion-card-content>
				Please see your billing details below.
			  </ion-card-content>
		</ion-card>

		<ion-card 
			*ngFor="let item of bills">
			<ion-card-header>
			  <ion-card-title>
				<strong>Billing ID: {{item.BillingID}}</strong>
				<ion-badge color="{{ isPaidFn(item.BillingID) ? 'success' : 'danger' }}">{{ item.isPaid ? 'Paid' : 'Unpaid' }}</ion-badge>
			</ion-card-title>
			 
			</ion-card-header>
		  
			<ion-card-content class="no-l-padding">
			  <ion-list class="{{ isPaidFn(item.BillingID) ? 'paid' : 'unpaid' }}">
				<ion-item >
					<ion-text><strong>Insurance Coverage: </strong>Php {{item.InsuranceCoverage | number: '1.2-2'}}</ion-text>
				</ion-item>
				<ion-item>
					<ion-text ><strong>Consultation Fee: </strong>Php {{item.ConsultationFee | number: '1.2-2'}}</ion-text>
				</ion-item>
				<ion-item>
					<ion-text><strong>Total Amount: </strong>Php {{item.TotalAmount | number: '1.2-2'}}</ion-text>
				</ion-item>
			  </ion-list>
			  	<div class="btn-wrapper">
					<ion-button 
						*ngIf="!item.isPaid"
						(click)="pay()"
						[disabled]="isPaidFn(item.BillingID)"
						size="default"
						color="dark"
					>
					Pay Now
					</ion-button>
				</div>
			</ion-card-content>
		  </ion-card>
	</div>
	<app-tab class="tabs"></app-tab>
</ion-content>
