

<ion-header [translucent]="true">
	<ng-container *ngIf="loadingService.loading$ | async">
		<ion-progress-bar type="indeterminate"></ion-progress-bar>
	</ng-container>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
	  <ion-title>Register</ion-title>
	</ion-toolbar>
</ion-header>
  
  <ion-content [fullscreen]="true" class="ion-padding-top">

	<div class="ion-content ion-padding">
		<div class="center-content">
			<form [formGroup]="registerForm">
				<ion-item>
					<ion-input 
						label="Username"
						label-placement="floating" 
						placeholder="Username"
						formControlName="username"
						>
					</ion-input>
					<ion-text color="danger" *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
						<small *ngIf="registerForm.get('username')?.hasError('required')">Username is required</small>
						<small *ngIf="registerForm.get('username')?.hasError('minlength')">Username must be at least 2 characters long</small>
					</ion-text>
				</ion-item>
				<ion-item class="ion-margin-bottom" >
					<ion-input 
						type="password" 
						label="Password"
						label-placement="floating" 
						formControlName="password">
					</ion-input>
					<ion-text color="danger" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
						<small *ngIf="registerForm.get('password')?.hasError('required')">Password is required</small>
						<small *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be at least 8 characters long</small>
					</ion-text>
				</ion-item>
				<ion-button 
					color="success"
					expand="block"
					(click)="onRegister()"
					[disabled]="!registerForm.valid || loading"
				>Register</ion-button>
			</form>
		</div>
	</div>
  </ion-content>

  <app-footer></app-footer>