

<ion-header [translucent]="true">
	<ng-container *ngIf="loadingService.loading$ | async">
		<ion-progress-bar type="indeterminate"></ion-progress-bar>
	</ng-container>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
	  <ion-title>Register</ion-title>
	</ion-toolbar>
</ion-header>
  
  <ion-content [fullscreen]="true" class="ion-padding-top">

	<form [formGroup]="registerForm">
		<ion-item>
			<ion-input 
				label="Username"
				label-placement="floating" 
				fill="solid"
				placeholder="Username"
				formControlName="username"
				[errorText]="registerForm.get('username')?.hasError('username') ? 'Username is required' : registerForm.get('username')?.hasError('minlength') ? 'Username must be at least 2 characters long' : ''">
			</ion-input>
		</ion-item>
		<ion-item class="ion-margin-bottom" >
			<ion-input 
				type="password" 
				label="Password"
				label-placement="floating" 
				fill="solid"
				formControlName="password"
				[errorText]="registerForm.get('password')?.hasError('required') ? 'Password is required' : registerForm.get('password')?.hasError('minlength') ? 'Password must be at least 8 characters long' : ''">
			</ion-input>
			
		</ion-item>
		<ion-button 
			color="success"
			expand="block"
			(click)="onRegister()"
			[disabled]="!registerForm.valid || loading"
		>Register</ion-button>
	</form>
  </ion-content>